/* Calendar header styling */
#monthYear {
    font-size: 1.5rem;
    color: #2D3748;
    font-weight: bold;
}

/* Consistent styling for day headers and date cells */
.day-header,
.day-cell {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 0.25rem;
    height: 2.5rem; /* Consider using rem or % for responsiveness */
    width: 2.5rem; /* Consider using rem or % for responsiveness */
    cursor: pointer;
    transition: background-color 0.2s; /* Transition added for hover effect */
    
}

/* Styling for logged days */
.logged-day {
    background-color: #34d399; /* Light green background for logged days */
    color: white;
    border-radius: 50%;
    transition: background-color 0.2s; /* Add transition for consistency */
}

/* Styling for today’s date */
.today {
    background-color: #60a5fa; /* Light blue background for today's date */
    color: white;
    border-radius: 50%;
    font-weight: bold;
    transition: background-color 0.2s; /* Add transition for consistency */
}

/* Hover effect for day cells */
.day-cell:hover {
    background-color: #EDF2F7; /* Light gray on hover */
}

/* Grid for calendar dates and day headers */
#calendarDates, #dayHeaders {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
}

/* Empty cells before the 1st of the month */
.empty-cell {
    width: 100%; /* Aligns to grid column width */
}


