/* Calculation Box Styling */
.calculation-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; 
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Height Display Text */
.weight-text {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 0.5rem;
}

/* Line under height */
.weight-line {
    width: 100%;
    border: line;
    border-top: 1px solid #000000;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

/* Height Input Box */
.weight-input {
    width: 100%;
    max-width: 200px;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
}

/* Next Button */
#nextButton {
    background-color: #008000;
    color: #ffffff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#nextButton:hover {
    background-color: #0c734f;
}

#backButton {
    background-color: #DAA520;
    color: #ffffff;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5rem; /* Adjust the spacing between Back and Next buttons */

}

#backButton:hover {
    background-color: #B8860B;
}